.maincontainer13 {
  width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 40.57%,
      #000000 200%
    ),
    url("./images/Image13.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  object-fit: cover;
  padding-bottom: 4%;
  padding-top: 1%;
}
.head13 {
  color: var(--colors-white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.293px;
}
.navContainer13 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15%;
}

.list13 {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.listItem13 {
  margin-right: 30px;
  color: var(--colors-white, #fff);
  /* Buttons / Middle */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
}

.title13 {
  color: var(--colors-white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 86px; /* 119.444% */
  letter-spacing: -1px;
}
.para13 {
  color: var(--colors-white, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.buttonbuy13 {
  border-radius: 100px;
  background: #482be7;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  color: var(--colors-heading, #ffffff);
  /* Buttons / Middle */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-left: 20px;
  border: none;
}
